* {
  margin: 0;
  box-sizing: border-box;
  }
 
 
 /*inventory page style */
 
 
 .books-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 100px;
  padding: 50px;
  background-color: white;
 }
 
 
 .book-card {
  border: 1px solid #ccc; /* Adds a subtle border around the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
  width: 300px; 
  margin: 20px; /* Adds space around the card */
  padding: 15px; /* Adds space inside the card */
  text-align: center; /* Aligns the text and content to the center */
  border-radius: 8px; /* Rounds the corners of the card */
  background-color:  #A9A9A9;
 
 
 }
 
 
 .book-card img {
  width: 250px; 
  height: 400px; 
  object-fit: cover; /* Ensures the image covers the frame without distorting */
  border-radius: 4px; /* rounds the corners of the image */
 }
 
 
 
 
 
 
 .book-card h3 {
  color: #333; 
  font-size: 18px; /* Font size for the title */
  margin-top: 10px; /* Space above the title */
  background-color: #A9A9A9;
  white-space: normal; /* Ensures that the text can wrap */
  word-wrap: break-word; /* Breaks the words at the end of the line to the next line if needed */
  overflow-wrap: break-word; /* Allows unbreakable words to be broken */
  text-align: left;
 }
 
 
 .book-card p {
  color: #666; 
  font-size: 16px; /* Slightly smaller font size for the author */
  background-color: #A9A9A9;
  text-align: left;
 }
 
 
 .book-card button {
  background-color:#612626; 
  color: white; /* White text on the button */
  border: none; 
  padding: 10px 20px; /* Padding inside the button */
  margin-top: 10px; /* Space above the button */
  cursor: pointer; /* Changes the cursor on hover */
  border-radius: 10px; /* Rounds the corners of the button */
  transition: background-color 0.3s; /*transition for the button color */
 }
 
 
 .book-card button:hover {
  background-color: #800000; 
 }
 
 
 