:root {
  --secondary-color: #A14B22;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.section-name{
  text-align: center;
  background-color: #A14B22;
  height: 45px;
}

.section-name h1{
  color:white;
}

/* HOMEPAGE STYLING */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Pushes the logo behind other elements */
}

.logo {
  width: 1000px; /* Adjust the width as needed */
  height: auto;
}

.homepageImg-container {
  position: relative;
  width: 97%;
  height: calc(100vh - 200px);
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-container h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #612626;
}

.text-container h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #612626;
}

.text-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D4AA4C;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-container button:hover {
  background-color: var(--secondary-color);
  color: #d9d9d9;
}

/* END HOMEPAGE STYLING */
 
 
 /*inventory page style */
 
 
 .books-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10em;
  padding: 10px;
  background-color: white;
 }
 
 
 .book-card {
  border: 1px solid #ccc; /* Adds a subtle border around the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
  width: 300px; 
  margin: 20px; /* Adds space around the card */
  padding: 15px; /* Adds space inside the card */
  text-align: center; /* Aligns the text and content to the center */
  border-radius: 8px; /* Rounds the corners of the card */
  background-color:  var(--secondary-color);
 }
 
 
 .book-card img {
  width: 250px; 
  height: 400px; 
  object-fit: cover; /* Ensures the image covers the frame without distorting */
  border-radius: 4px; /* rounds the corners of the image */
 }
 

 .book-card h3 {
  color: whitesmoke; 
  font-size: 18px; /* Font size for the title */
  margin-top: 10px; /* Space above the title */
  background-color: var(--secondary-color);
  white-space: normal; /* Ensures that the text can wrap */
  word-wrap: break-word; /* Breaks the words at the end of the line to the next line if needed */
  overflow-wrap: break-word; /* Allows unbreakable words to be broken */
  text-align: left;
 }
 
 
 .book-card p {
  color: whitesmoke; 
  font-size: 16px; /* Slightly smaller font size for the author */
  background-color: var(--secondary-color);
  text-align: left;
 }
 
 
 .book-card button, #addBookBtn {
  background-color:#612626; 
  color: white; /* White text on the button */
  border: none; 
  padding: 10px 20px; /* Padding inside the button */
  margin-top: 10px; /* Space above the button */
  cursor: pointer; /* Changes the cursor on hover */
  border-radius: 10px; /* Rounds the corners of the button */
  transition: background-color 0.3s; /*transition for the button color */
 }
 
 
 .book-card button:hover, #addBookBtn {
  background-color: #800000; 
}

/* nav bar styling */
.nav-bar{
  background-color: #D4AA4C;
  margin: 0px;
  border: 0px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#nav-a {
  color: white;
  text-decoration: none; 
}

#nav-a:hover {
  color: #800000; 
}

#nav-a:active {
  color: var(--secondary-color); 
}

.nav-bar > .nav-left {
  flex: 1  1 1%;
}

.nav-bar > .nav-main {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  font-size: 1rem;
}

.nav-bar > .nav-right {
  border-left: 100px;
  flex: 1 1 1%;
}

#navBar-logo {
  height: 20%;
  width: 20%;
}


/* Ends nav-bar styling */


/* Edit book styling */
.edit-book-container, .book-details-container, .add-book-container {
  height: 623px;
  width: 975px;
  line-height: 2.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color:white;
  border: 1px solid #ccc; /* Adds a subtle border around the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
  margin: 20px; /* Adds space around the card */
  padding: 15px; /* Adds space inside the card */
  border-radius: 8px; /* Rounds the corners of the card */
  background-color:  var(--secondary-color);
}

.edit-book-information label, .add-book-information label {
  display:block;
  display: flex;
  
}

.edit-book-information input, .add-book-information input {
  margin-left: 2%;
  width: 100%;
  height: 25px;
}

.edit-book-container button, .book-details-container button, .add-book-container button {
  background-color:#612626; 
  color: white; /* White text on the button */
  border: none; 
  padding: 10px 20px; /* Padding inside the button */
  margin-top: 10px; /* Space above the button */
  cursor: pointer; /* Changes the cursor on hover */
  border-radius: 10px; /* Rounds the corners of the button */
  transition: background-color 0.3s; /*transition for the button color */
  
 }
 
 .edit-book-container button:hover, .book-details-container button:hover, .add-book-container button:hover {
  background-color: #800000; 
 }

 .edit-book-container img, .book-details-container img, .add-book-container img {
  width: 403px; 
  height: 588px; 
  object-fit: cover; /* Ensures the image covers the frame without distorting */
  border-radius: 4px; /* rounds the corners of the image */
  float: left;
 }

 .edit-book-information, .add-book-information {
  display: inline-block;
  position: absolute;
  margin-left: 8%;
  margin-top: 8%;
  width: 420px;
 }

 .book-details-information {
  display: inline-block;
  position: absolute;
  margin-left: 8%;
  margin-top: 15%;
  width: 420px;
 }

#second-button{
  margin-left: 1%;
}

/* ENDS BOOK DETAILS STYLING */